@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: "frero";
    src: url("./font/red-hat/RedHatText-Bold.otf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}