body {
    background-image: url("fond.png");
    background-size: contain;
    width: 100%;
    min-height: 100vh;

}

h1 {
    background-color: rgb(250, 121, 33);
    width:20% ;
    margin-left: 20PX;
    margin-top: 170px;
    height: 10%;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    font-size:clamp(11px,2vw,20px);
}

.menus {
    display: flex;
    justify-content: space-evenly;

}

.contenant>div{
    display: flex;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: white;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 10px;
    width: calc(100% / 4);
    padding: 7% 0;
    position: relative;
}

.menu-box>div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 10%;
}

.menu-box>p {
    text-transform: uppercase;
    margin-top: 20px;
    width: 30%;
    font-size: clamp(30px, 0.5vw, 40px);
}

.menu-box>img {
    position: absolute;
    top: 13%;
    transform: translate(0, -100%);
    width: clamp(125px, 20%, 240px);
}

.contenant>p {
    text-decoration: underline;
    font-size: clamp(15px,1vw,35px);
    margin-left: 10px;
}

.menu-box ul li {
    margin-left: 40px;
    font-size: clamp(15px,1.5vw,45px);
}

.droit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}

.droit>div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.droit p {
    font-size: clamp(10px, 1.5vw, 25px);
}

.kebab {
    grid-area: kebab;
}

.galette {
    grid-area: galette;
}

@media screen and (max-width:1000px) {
    .menus{
        flex-direction: column;
        align-items: center;
    }
    .menu-box{
        width: 60%;
        padding: 15% 0;
        margin-bottom: 30px;
    }
    .menu-box>img{
        width: clamp(135px, 30%, 265px);
    }
    .menu-box ul li {
        font-size: clamp(15px,1.5vw,45px);
    }
    .contenant>p {
        font-size: clamp(10px,2vw,35px);
        
    }

}

@media screen and (max-width:600px) {

    h1{
        margin-top: 80px;
    }
    .menu-box ul li {

        font-size: clamp(10px, 0.5vw, 20px);
        margin-left: 30px;
    }

    .menu-box ul>p {
        text-decoration: underline;
        font-size: clamp(15px, 0.5vw, 20px);
        margin-left: 20px;
    }

    .menu-box>p {
        font-size: clamp(10px, 3.5vw, 30px);
    }
    .droit p {
        font-size: clamp(10px, 2vw, 20px);
    }
}
@media screen and (max-width:400px) {
    .menu-box>img {
        width: clamp(125px, 15%,180px);
    }
    h1{
        width: 50%;
    }
    

    
}